@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexLeft {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@mixin flexRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flexCenterColumn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@mixin flexLeftColumn {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

@mixin flexRightColumn {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}

@mixin maxWidth{
  width: 1200px;
	margin:0 auto;
}