$bg-page-color: #010101;
$font-primary-color:#aaa;
$font-active-color:#379AEE;
$btn-bgcolor:#379AEE;
$btn-color:#000;
$btn-linercolor:linear-gradient(to bottom, #53E9F6 20%, #13CCD7 40%, #379AEE 60%, #4D65DB 80%, #622EC3 100%);